{%extends 'base.html'%}

{%block title%}
تعديل مرجع امر الصرف
{%endblock%}



{% block content %}
<br><br><br><br> <br><br>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">تعديل مرجع امر الصرف</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-primary btn-block">تعديل </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}